body {
	font-family: sans-serif;
	background-color: rgb(98, 180, 43);
	color: white;
	display: grid;
	justify-items: center;
	overflow-x: hidden;
}

canvas {
	border: solid 4px white;
	border-radius: 8px;
}

.game-over-message {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

h2 {
	font-size: 2.5rem;
	margin: 0;
	padding: 4px 10px;
	border: solid 4px white;
	border-radius: 8px;
}

.hidden {
	display: none;
}

.buttons-grid {
	margin-top: 8px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 17px;
}

button {
	background: none;
	color: white;
	padding: 12px;
	border: solid 6px white;
	border-radius: 8px;
}

button > span {
	font-family: monospace;
	font-size: 2.6rem;
	font-weight: bold;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 30px;
}

#ArrowLeft {
	grid-row-start: 2;
}

#ArrowUp {
	transform: rotate(90deg);
	grid-column-start: 2;
}

#ArrowRight {
	transform: rotate(180deg);
	grid-column-start: 3;
	grid-row-start: 2;
}

#ArrowDown {
	transform: rotate(-90deg);
	grid-column-start: 2;
	grid-row-start: 3;
}

#stats-message {
	font-size: 1.5rem;
	margin: 1rem 0;
	border: white solid 3px;
	padding: 0.5rem;
	border-radius: 8px;
}

footer {
	border-top-right-radius: 5px;
	color: black;
	padding: 2.5px 10px;
	background-color: rgba(255, 255, 255, 0.733);
	position: absolute;
	bottom: 0;
	left: 0;
}

footer > span {
	font-size: 0.9rem;
}
